{% extends "layouts/alpha.html" %}
{% load i18n %}

{% if user.is_superuser %}
    {% block nav %}
        <li><a href="{% url 'project-create' %}" class="uk-button"><i class="uk-icon-plus"></i> {% trans "Create project" %}</a></li>
    {% endblock %}
{% endif %}

{% block content %}
    <h2>{% trans "Project list" %}</h2>

    {% for project in object_list %}
        <div class="uk-panel uk-panel-box">
            {% if project.is_private %}
                <div class="uk-panel-badge uk-badge">{% trans "private" %}</div>
            {% endif %}
            <div class="uk-grid">
                <div class="uk-width-6-10">
                    <h3 class="uk-panel-title"><a href="{{ project.get_absolute_url }}">{{ project }}</a></h3>
                    {% if project.description %}
                        <p>{{ project.description }}</p>
                    {% endif %}
                </div>
                <div class="uk-width-4-10">
                    {% trans "Last active" %}: {{ project.last_active|date:'SHORT_DATETIME_FORMAT' }}<br>
                    {% trans "Members" %}: {{ project.members_number }}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
