{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}doner</title>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css">
        <link href="http://fonts.googleapis.com/css?family=Telex" rel="stylesheet" type="text/css">
        <style type="text/css">
            html, body { font-family: "Telex", sans-serif; margin-bottom: 20px; }
            .uk-navbar { margin-bottom: 20px; }
            .uk-container-center { max-width: 1000px; }
        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav class="uk-navbar">
            <a href="/" class="uk-navbar-brand">doner</a>
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'projects' %}">{% trans "Projects" %}</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="#"><i class="uk-icon-user"></i> {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}"><i class="uk-icon-key"></i> {% trans "Login" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
